
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}
.bg{
    height: 80vh;
    background: url('../images/bg2.jpg');
    background-position: -200px -180px;
}
.content{
    position: relative;
    margin-left: 300px;
    margin-top: -150px;
}

.member img{
    width: 150px;
    border-radius: 50%;
    position: relative;
    top: 20px;
}
.member{
    background: rgba(255, 255, 255, 0.863);
    width: 300px;
    margin: 0 3px;
    text-align: center;
    float: left;
}
.member h4{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    padding-top: 20px;
    letter-spacing: 2px;
}
.member h5{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    color: rgba(0, 0, 128, 0.623);


}
.member .social i{
     font-size: 120%;
     padding: 10px;
     transition: 0.5s;
     color: rgba(128, 128, 128, 0.719);
     padding-top: 25px;
}